.ct {text-align: center;font-size: 35px}
pre code {
	background-color: #004400;
	border: 1px solid #dd546e;
	display: block;
	padding: 10px;
	color: #ffff00;
	}
body {
	color: #dd00dd;
	background-color: #000000;
	}
